<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.tbw.FemurShield" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".View.UI1"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.UI2"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".View.UI3"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".View.UI4"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".View.UI5"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>
